@import "./styles.css";

/* Phone - 768px and below */
@media only screen and (max-width: 768px) {
  .header__nav--desktop {
    display: none;
  }
  .header__logo {
    width: 15%;
  }
  .header__button {
    display: block;
  }
}

/* Desktop - 1440px and above */
@media only screen and (min-width: 1440px) {
  .header__nav--desktop {
    display: block;
  }
  .header__logo {
    width: 4%;
  }
  .header__button {
    display: none;
  }
}
