@import "./base.css";

body {
  font-family: Inter, Helvetica, sans-serif;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.header__logo {
  width: 15%;
  height: auto;
}

.hero__content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.hero__content__title {
  font-size: 2.5rem;
  font-weight: var(--font-extra-bold);
  color: var(--very-dark-blue);
  margin-bottom: 1rem;
}

.hero__cotent__button {
  background-color: var(--soft-red);
  color: var(--off-white);
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
