@import "./base.css";

body {
  font-family: Inter, Helvetica, sans-serif;
}

.body--no-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  place-items: center;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  max-width: 12%;
  height: auto;
}

.header__nav--desktop {
  display: none;
}

.header__nav--desktop ul {
  display: flex;
  list-style: none;
  padding: 0;
  column-gap: 2rem;
}

.header__nav--desktop li {
  color: var(--dark-grayish-blue);
  font-weight: var(--font-regular);
}

.header__nav--desktop li:hover {
  cursor: pointer;
  color: var(--soft-red);
}

.header__nav--none {
  display: none;
}

.header__button {
  cursor: pointer;
  z-index: 100;
  width: 4rem;
  height: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/icon-menu.svg");
}

.header__button--active {
  background-image: url("../images/icon-menu-close.svg");
}

.header__nav--mobile-active {
  display: block !important;
}

.header__nav--mobile {
  display: none;
  position: absolute;
  background-color: var(--off-white);
  right: 0;
  top: 0;
  left: 25%;
  bottom: 0;
  transition: 0.25s;
  z-index: 50;
}

.header__nav--mobile ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  position: relative;
  bottom: 15%;
}

.header__nav--mobile li {
  color: var(--very-dark-blue);
  font-size: var(--size-menu);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: auto;
}

.header__nav--background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: none;
  background-color: var(--very-dark-blue);
}

.header__nav--background-active {
  display: block !important;
  opacity: 0.5 !important;
}

.hero {
  margin-bottom: 4rem;
}

.hero__image {
  width: 100%;
  height: 100%;
}

.hero__content {
  padding-top: 1.5rem;
}

.hero__content__title {
  font-size: var(--size-h1-mobile);
  line-height: 2.75rem;
  font-weight: var(--font-extra-bold);
  color: var(--very-dark-blue);
  margin-bottom: 1rem;
}

.hero__content__description {
  font-size: 1rem;
  line-height: 1.65rem;
  font-weight: var(--font-regular);
  color: var(--dark-grayish-blue);
  margin-bottom: 1rem;
}

.hero__cotent__button {
  background-color: var(--soft-red);
  display: flex;
  width: fit-content;
  justify-content: center;
  color: var(--off-white);
  font-size: var(--size-button);
  font-weight: var(--font-bold);
  letter-spacing: 0.275rem;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.75rem 2.25rem;
  margin-top: 1.5rem;
}

.latest {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem;
  background-color: var(--very-dark-blue);
}

.latest__headline {
  color: var(--soft-orange);
  font-size: var(--size-h2);
  font-weight: var(--font-bold);
}

.latest__article {
  margin: 2.5rem 0;
}

.latest__article--title {
  color: var(--off-white);
  font-size: var(--size-h3);
  font-weight: var(--font-bold);
  margin-bottom: 1rem;
}

.latest__article--paragraph {
  margin-top: 1rem;
  color: var(--grayish-blue);
  font-size: var(--size-p);
  font-weight: var(--font-regular);
  line-height: 1.65rem;
}

.latest__divider {
  border-top: 1px solid var(--dark-grayish-blue);
}

.news {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.news__container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.news__image {
  width: 30%;
  height: 100%;
}

.news__article {
  width: 70%;
}

.news__article--number {
  margin-bottom: 1rem;
  color: var(--grayish-blue);
  font-size: var(--size-h2);
  font-weight: var(--font-bold);
  line-height: 1.65rem;
}

.news__article--title {
  margin-top: 1rem;
  color: var(--very-dark-blue);
  font-size: var(--size-h3);
  font-weight: var(--font-extra-bold);
  line-height: 1.65rem;
}

.news__article--paragraph {
  margin-top: 1rem;
  color: var(--dark-grayish-blue);
  font-size: var(--size-p);
  font-weight: var(--font-regular);
  line-height: 1.65rem;
}

.attribution {
  font-size: var(--size-small);
  color: var(--dark-grayish-blue);
  text-align: center;
  margin-bottom: 2rem;
}

.attribution a {
  color: var(--dark-grayish-blue);
}
